<head>
  <style>
    .text {
      color: gray;
    }
    
    
  </style>
</head>




<div class="row text">
  <div class="col-3"></div>

  <div class="col-6">
    <div class="page-header">

      <h3 style="margin-top: 20px; margin-bottom: 20px; border-bottom: 5px solid #a9dce1;">
        <% @entries.each do |e| %>
          <% if @myUserId != e.user.id %>
            <%= e.user.name %>さんとのトークルーム
          <% end %>
        <% end %>
      </h3>
    </div>

    <table class="table text">
      <thead>
        <tr>
          <th>送信者</th>
          <th>メッセージ</th>
        </tr>
      </thead>

      <tbody>
        <% if @messages.present? %>
          <% @messages.each do |m| %>
            <tr>
              <td><%= m.user.name %></td>
              <td><%= m.message %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-3"></div>
</div>

<div class="row">
  <div class="col-3"></div>

  <div class="col-6">
    <%= form_with model: @message, url: user_messages_path do |f| %>
      <div class="col-10">
        <%= f.text_field :message, placeholder: "メッセージを入力" , class: 'form-control' %>
        <%= f.hidden_field :room_id, value: @room.id %>
      </div>

      <div class="col-2">
        <%= f.submit "送信", class: 'btn btn-info btn-block' %>
      </div>
    <% end %>
  </div>

  <div class="col-3"></div>
</div>