<head>
    <style>
    .btn-custom {

    background-color: #fa778d;

    color: white;

    /* その他のスタイルプロパティ */

    }

    .btn-custom:hover {
      background: #fff;
      color: #f93d5d;
      }
    </style>
</head>
<% if user_signed_in? %>
  <div class="search_form">
    <%= form_with url: user_search_path, local: true, method: :get do |f| %>
      <div class="form-group row">
        <%= f.label :word, "", class: "col-2 col-form-label" %>
        <div class="col-4">
          <%= f.search_field :word, class: "form-control", value: params[:word] %>
        </div>
        <%= f.label :range, "選択", class: "col-2 col-form-label" %>
        <div class="col-4">
          <%= f.select :range, options_for_select([['ユーザー', :user], ['投稿', :post]], params[:range]), {}, { class: "form-select" } %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-6 offset-2">
          <%= button_tag type: "submit", class: "btn btn-custom rounded-ellipse" do %>
            <i class="fa-solid fa-magnifying-glass"></i> 検索
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>