<head>
  <style>
    .card {
      animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    }

    @keyframes slideIn {
      0% {
        transform: translateX(180px);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
      }
      40%,100% {
        opacity: 1;
      }
    }

    .large-column {
      width: 70%;
      font-size: 1.3em; /* 1.3倍のフォントサイズに設定 */
      color: gray;
    }

    .text {
     color: gray;
    }

    .table-xl {

      width: 500px;

      height: 300px;
    }

    .cute-button {
      background-color: #72d7e0;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
      font-size: 16px;
    }

    .cute-button:hover {
      background: #fff;
      color: #72d7e0;
    }

    .user-show-room {
      margin-top: 20px;
      }

    .pagination-container {
      display: flex;
      justify-content: center;
      margin-top: 35px;
    }

    .btn-hover {
      background-color: #fdc1cb;
      
      color: white
     
    }
    
    .btn-hover:hover {
      background-color: #f93d5d;
      color: #fff
    
    }
    
   
  </style>
</head>







<div class="container px-5 px-sm-0">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <table class="table table-lg">
        <tr class="row">
          <td class="col-md-2 offset-md-2 mr-5" >
            <div style="margin-bottom: 20px;">
              <%= image_tag @user.get_profile_image(200,200), style: "border-radius: 50%;" %>
            </div>
            <% if current_user != @user && current_user.following?(@user) %>
              <%= link_to "フォロー中", user_user_relationships_path(@user.id), method: :delete, class: "cute-button" %>
            <% elsif current_user != @user %>
              <%= link_to "フォローする", user_user_relationships_path(@user.id), method: :post, class: "cute-button" %>
            <% end %>
            <div style="margin-top: 20px;"></div>
            <% if @user == current_user && !@user.guest_user? %>
              <%= link_to "プロフィール編集", edit_user_user_path, class: 'btn', style: 'background-color: #d3d3d3; color: white;' %>
            <% end %>
            <% unless @user.id == current_user.id %>
              <% if (current_user.following? @user) && (@user.following? current_user)  %>
                <% if @isRoom == true %>
                  <p class="user-show-room"><%= link_to "チャットへ", user_room_path(@roomId), class: "cute-button" %></p>
                <% else %>
                  <%= form_with url: user_rooms_path do |f| %>
                    <%= f.fields_for :entry do |e| %>
                      <%= e.hidden_field :user_id, value: @user.id %>
                    <% end %>
                    <%= f.submit "DMする", class: "cute-button" %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </td>
          <td class="col-md-7">
            <table class="sub-table">
              <tr>
                <th class="large-column">name</th>
                <td class="large-column"><%= @user.name %></td>
              </tr>
              <tr>
                <th class="large-column">introduction</th>
                <td class="large-column"><%= @user.introduction %></td>
              </tr>
              <tr>
                <th class="large-column">follows</th>
                <td class="large-column">
                  <%= link_to user_user_followings_path(@user), style: "color: gray;" do %>
                    <%= @user.followings.count %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <th class="large-column">followers</th>
                <td class="large-column">
                  <%= link_to user_user_followers_path(@user), style: "color: gray;" do %>
                    <%= @user.followers.count %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td class="large-column">
                  <%= link_to favorites_user_user_path, class: 'btn', style: 'background-color: #f29e60; color: white;' do %>
                    <i class="fa-regular fa-heart"></i> いいねした投稿
                  <% end %>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
  <!-- ユーザーの投稿一覧 -->
      <div class="card-list-container py-5 w-100 ">
        <% @posts.sort_by(&:created_at).reverse.each do |post| %>
          <div class="card w-50 mx-auto mt-4 shadow-lg text">
            <% if post.get_image.present? %>
              <%= image_tag post.get_image %>
            <% end %>
            <div class="card-body">
              <div class="row">
                <div class="col-2 text-center">
                  <%= image_tag post.user.get_profile_image(100,100), style: "border-radius: 50%;" %>
                </div>
                <div class="col-10 pl-sm-4">
                  <p class="card-title">
                    <strong>ユーザーネーム：<%= link_to post.user.name, user_user_path(post.user), style: "color: gray;" %></strong>
                  </p>
                  <p class="card-title" style="font-size: 30px;">
                    <%= link_to user_post_path(post.id), style: "color: #53a8b7;" do %>
                      <%= post.title %>
                    <% end %>
                  </p>
                  <p class="card-text"><%= post.body %></p>

                  <% if post.favorited_by?(current_user) %>
                    <p>
                      <%= link_to user_post_favorite_path(post), method: :delete, class: "btn btn-sm btn-hover" do %>
                        ♥<%= post.favorites.count %> いいね
                      <% end %>
                    </p>
                    <% else %>
                    <p>
                      <%= link_to user_post_favorite_path(post), method: :post, class: "btn btn-sm btn-hover" do %>
                        ♡<%= post.favorites.count %> いいね
                      <% end %>
                    </p>
                  <% end %>
                  <p><%= link_to "#{post.post_comments.count} コメント", user_post_path(post.id), class: "btn btn-secondary btn-sm" %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <div class="pagination-container">
          <%= paginate @posts %>
        </div>
      </div>
    </div>
  </div>
</div>