<head>
  <style>
    h5 {
    position: relative;
    padding: 0.8rem 0;
    margin-bottom: 0.2rem;
    border-bottom: 5px solid lightgray;
    color: gray;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
}

h5:before,
h5:after {
    position: absolute;
    top: 100%;
    left: 50%;
    content: "";
    height: 0;
    width: 0;
}

h5:before {
    border: 16px solid;
    border-color: transparent;
    border-top-color: lightgray;
    margin-left: -16px;
}

h5:after {
    border: 10px solid;
    border-color: transparent;
    border-top-color: white;
    margin-left: -10px;
}

.btn-outline-secondary {
  border-color: #a5b8c1;
}
  </style>
</head>


  
<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-gray bg-light p-4 mb-0">演奏会はどうでしたか？</h5>

      <div class="form-body p-4">
        <%= form_with model: @post, url: user_posts_path, method: :post do |f| %>
        
          <% if @post.errors.any? %>
            <div id="error_explanation">
              <ul>
                <% @post.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <label for="file-upload" class="btn btn-outline-secondary btn-block">
            <i class="fas fa-upload" style="font-size: 40px;"></i><br>
            画像をアップロード
          </label>
          <%= f.file_field :image, accept: "image/*", id: "file-upload", style: "display: none;" %>
          <span id="file-name"></span>
           
           
          <script>
            document.getElementById("file-upload").addEventListener("change", function(event) {
              var fileName = event.target.files[0].name;
              document.getElementById("file-name").textContent = "選択されたファイル名：" + fileName;
              // 選択された画像の情報を表示する処理
              console.log("選択されたファイル名：" + fileName);
            });
          </script>

          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-music"></i></span>
            </div>
            <%= f.text_field :title, class: "form-control", placeholder: "タイトル" %>
          </div>
          <%= f.text_area :body, class: "form-control", rows: "6", placeholder: "感想はこちら" %>
          <hr>
          <%= f.submit 'シェア', class: "btn btn-lg btn-block btn-info rounded-pill mt-4" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
