<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">演奏会はどうでしたか？</h5>
      <div class="form-body p-4">
        <%= form_with model: @post, url: user_posts_path do |f| %>
          <div style="display: flex; justify-content: center; align-items: center; height: 200px;">
            <h6 style="text-align: center; margin: 0 8px;">写真をアップロード</h6> <!-- マージンを左右に調整 -->
          </div>
          <div style="display: flex; justify-content: center; align-items: center; height: 200px;">
            <%= f.label :image, class: "text-center d-block border border-gray-300 rounded-full bg-white p-4", style: "font-size: 48px; width: 100px; height: 100px; border-radius: 20%; margin-top: -20px;" do %> <!-- マージンを上方向に調整 -->
              <i class="fas fa-upload"></i>
              <%= f.file_field :image, accept: "image/*", style: "display: none;" %>
            <% end %>
          </div>
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-music"></i></span>
            </div>
            <%= f.text_field :title, class: "form-control", placeholder: "タイトル" %>
          </div>
          <%= f.text_area :body, class: "form-control", rows: "6", placeholder: "感想はこちら" %>
          <hr>
          <%= f.submit 'シェア', class: "btn btn-lg btn-block btn-info rounded-pill mt-4" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
