<!DOCTYPE html>
<html>
  <head>
    <style>
      .nav-button {
        background-color: #fa778d;
        color: white;
        padding: 8px 16px;
        border-radius: 5px;
        border: none;
        margin-right: 8px ; /* ボタン間の間隔を指定します */

       }

      .nav-button:last-child {
        margin-right: 0; /* 最後のボタンの右側の余白を除去します */
      }

      .nav-button:hover {
        background: #fff;
        color: #f93d5d;
      }

    </style>
    <title>Listeners</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/55443a77b7.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body class="d-flex flex-column vh-100 font" style="background-color: #f6fdf6">
    <header class="bg-custom text-white pt-5 pb-4" style="background-color: #a9dce1;">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
         <a class="navbar-brand p-3" href="/"><%= image_tag('logo.png', style: "max-width: 200px; max-height: 200px;") %></a>
         
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="nav-item mr-1">
                  <%= link_to new_user_post_path, class: 'nav-button' do %>
                    <i class="fa-solid fa-pen"></i> 投稿する
                  <% end %>
                </li>
                <li class="nav-item mr-1">
                  <%= link_to user_posts_path, class: "nav-button" do %>
                    <i class="fa-solid fa-clipboard"></i> 投稿一覧
                  <% end %>
                </li>
                <li class="nav-item mr-1">
                  <%= link_to user_user_path(current_user.id), class: "nav-button" do %>
                    <i class="fa-solid fa-user"></i> マイページ
                  <% end %>
                </li>
                <li class="nav-item mr-1">
                  <%= link_to destroy_user_session_path, method: :delete, class: "nav-button" do %>
                    <i class="fa-solid fa-right-from-bracket"></i> ログアウト
                  <% end %>
                </li>
              <% else %>
                <li class="nav-item mr-1">
                  <%= link_to "新規登録", new_user_registration_path, class: "nav-button" %>
                </li>
                <li class="nav-item mr-1">
                  <%= link_to "ログイン", new_user_session_path, class: "nav-button" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
    
      <%= render 'user/searches/search_form' %>
        </div>
      </nav>
    </header>
    <main class="mb-auto">
      <%= yield %>
    </main>
    <footer class="bg-custom text-white pt-5 pb-4" style="background-color: #a9dce1;">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4">
            <a class="navbar-brand p-3" href="/"><%= image_tag('logo.png', style: "max-width: 200px; max-height: 200px;") %></a>
          </div>
          <div class="col-md-8">
            <h6 class="text-white mt-2 mb-3">Link</h6>
            <ul class="p-0 list-unstyled">
              <li>
                <a href="" title="About" class="text-white-50">会社概要</a>
              </li>
              <li>
                <a href="" title="License informations" class="text-white-50">プライバシーポリシー</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
